<html>
  <head>
    <title>Tucker Chapin - {{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.min.css">
  </head>
  <body>
      <div>
        <div>
          {{{> __partials/post-url.hbs}}}
        </div>
        <div>
          {{{> __partials/post-path.hbs}}}
        </div>
        <div>
          {{{inline-marked title}}}
        </div>
        {{{marked body}}}
      </div>
      <script src="https://utteranc.es/client.js"
        repo="tuckerchapin/tuckerchapin.github.io"
        issue-number={{number}}
        theme="github-dark"
        crossorigin="anonymous"
        async>
</script>
  </body>
</html>