a {
    text-decoration: none;
}

:root {
    --teal: #00afa7;
    --pink: #d7699e;
    --bgblack: #222;
    --white: #fff;
    --offwhite: #808080;
    --opacity: .2;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    overflow: hidden;
    user-select: none;

    background-color: var(--bgblack);
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
}
