{{#> __components/html.html}}
  {{#> __components/head.html}}
    <title>{{{plaintext-marked title}}} - Tucker Chapin</title>
  {{/ __components/head.html}}
  <body>
    <div class="app one">
      {{> __components/name.html}}
      {{> __components/contacts.html}}
      <div id="blog">
        <div id="blog-post">
          <div>
            <div>
              {{{inline-marked title}}}
            </div>
            {{{marked body}}}
          </div>
          <script src="https://utteranc.es/client.js"
            repo="tuckerchapin/tuckerchapin.github.io"
            issue-number={{number}}
            theme="github-light"
            crossorigin="anonymous"
            async>
          </script>
        </div>
      </div>
    </div>
    {{> __components/goatcounter.html}}
  </body>
{{/ __components/html.html}}
