@media screen and (orientation:landscape) {
    #app-container {
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translate(-50%, 50%);
    }

    #header-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    #title {
        color: var(--white);
        font-size: 2.5em;
        line-height: 1em;
        font-weight: 500;
    }

    #content-container {
        margin-top: 20px;
        margin-left: 20px;
        display: flex;
    }

    #logo-container {
        width: 150px;
        height: 150px;
        padding: 20px;
        position: relative;
    }

    .logo {
        width: 150px;
        height: 150px;
        position: absolute;
        filter: saturate(2);
    }

    .glow {
        filter: blur(10px) saturate(4);
    }

    #projects {
        margin-top: 20px;
        margin-left: 20px;
    }

    #mobile-contact {
        display: none;
    }
}
