.project-title, .project-description {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
}

.project-title {
    color: var(--white);
    font-size: 1.25em;
    margin-right: 10px;
}

    .project-title:hover {
        text-decoration: underline;
    }

.project-title.disabled {
    color: var(--offwhite);
}

    .project-title.disabled:hover {
        text-decoration: none;
    }

.project-description {
    color: var(--offwhite);
    font-size: 1.1em;
    font-weight: 300;
    font-style: italic;
}
