body, #app-container {
    background-color: #222;
    overflow: hidden;
    user-select: none;
}

#app-container {
    display: flex;
    flex-direction: row;
}

#logo-container {
    width: 200px;
    height: 200px;
    padding: 25px;
    position: relative;
}

.logo {
    width: 200px;
    height: 200px;
    position: absolute;
    filter: saturate(2);
}

.glow {
    filter: blur(10px) saturate(4);
}

#info-container {

}

.title {
    color: #FFF;
}

/* #row1{
    display:flex;
    flex-direction:row;
justify-content: space-around;
}

#column1{
    display:flex;
    flex-direction:column;

}


#column2{
    display:flex;
    flex-direction:column;
} */
